<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/dashboard-fragments :: link">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title th:title="${user.getName()}">
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
</head>

<body class="">
  <div class="wrapper ">
  	<div th:replace="fragments/elements :: sidebar (name= ${user.name} , cls = ${MODE})">
  	</div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      <div th:replace="fragments/elements :: navigation (name = ${user.name})"></div>
      <!-- End Navbar -->
        <div class="content">
        	<div th:replace="fragments/user :: user-details (user = ${user})"></div>
           <div th:replace="fragments/products :: function"></div>
      </div>
    <!--  Footer-->
      <div th:replace="fragments/elements :: footer"></div>
    </div>
  </div>
  <div th:replace="fragments/dashboard-fragments :: script"></div>
</body>

</html>
