<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="sidebar" data-color="white" data-active-color="danger" th:fragment="sidebar (name , cls)">
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../assets/img/logo-small.png">
          </div>
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal" th:text="${name}">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        <li th:class="${cls} eq 'DASHBOARD' ? 'active'">
            <a href="/">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li th:class="${cls} eq 'shop' ? 'active'">
            <a href="/shop">
              <i class="nc-icon nc-cart-simple"></i>
              <p>Shop</p>
            </a>
          </li>
          <li th:class="${cls} eq 'ask-investor' ? 'active'">
            <a href="/">
              <i class="nc-icon nc-briefcase-24"></i>
              <p>Ask for Inverters</p>
            </a>
          </li>
          <li th:class="${cls} eq 'my-investment' ? 'active'">
            <a href="/">
              <i class="nc-icon nc-diamond"></i>
              <p>My Investments</p>
            </a>
          </li>
            <li th:class="${cls} eq 'history' ? 'active'">
                <a href="/history">
                    <i class="nc-icon nc-box"></i>
                    <p>History</p>
                </a>
            </li>
          <li th:class="${cls} eq 'edit' ? 'active'">
            <a href="/">
              <i class="nc-icon nc-tile-56"></i>
              <p>Edit Profile</p>
            </a>
          </li>
           <li>
          </li>
        </ul>
      </div>
	</div>
	
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" th:fragment="navigation">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;"><p>Dashboard</p></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <!-- Footer -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">no-bank</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">help</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">feedback</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                <i class="fa fa-heart heart"></i>
              </span>
            </div>
          </div>
        </div>
      </footer>

</body>
</html>