<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<div class="products" th:fragment="product (product)">
		
	
	</div>
	
	<div class="row"  th:fragment="function">
          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-header">
                <h5 class="card-title">Recharge & Bill Payment</h5>
                <p class="card-category"></p>
              </div>
              <div class="card-body all-icons">
				<div id="icons-wrapper">
			       <section>
			            <ul>
			                <li>
			                	<a href="#">
				                  <i class="nc-icon nc-mobile"></i>
				                  <p>Mobile Recharge</p>
			                 	</a>
			                </li>
			                <li>
			                	<a href="#">
				                  <i class="nc-icon nc-tv-2"></i>
				                  <p>DTH</p>
			                  	</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-bulb-63"></i>
			                  		<p>Electricity</p>
		                  		</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-credit-card"></i>
			                  		<p>Credit Card Bill</p>
			                  	</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-single-copy-04"></i>
			                  		<p>LIC Premium</p>
			                  	</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-laptop"></i>
			                  		<p>LandLine</p>
			                  	</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-world-2"></i>
			                  		<p>Donate</p>
			                  	</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-planet"></i>
			                  		<p>Water</p>
			                  	</a>	
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-cloud-download-93"></i>
			                  		<p>BroadBand</p>
			                  	</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-simple-delete"></i>
			                  		<p>Piped Gas</p>
			                  	</a>
			                </li>
			                <li>
			                	<a href="#">
			                  		<i class="nc-icon nc-paper"></i>
			                  		<p>Insurance Premium</p>
			                  	</a>
			                </li>
			             </ul>
			       </section>
				 </div>
			 </div>
		  </div>
	   </div>
	</div>


</body>
</html>